body {
  font-family: sans-serif;
  font-weight: light;
  ;
}

button {
  background-color: white;
  color: #3DA1D1;
  outline: none;
  font-size: 30px;
}

.toggleArea {
  text-align: right;
  border-bottom: 3px solid #3DA1D1;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.mainWrapper {
  width: 1100px;
  margin-left: 197px;
  margin-top: 168px;
  margin-right: 50px;
  border:3px solid #3DA1D1;
}

.toggleButtons {
margin-left: 22px;
margin-right: 22px;
height: 64px;
color:#3DA1D1;
font-size: 30px;
text-align: right;
padding-top: 15px;
border-bottom: 3px solid #3DA1D1;
}

.fa-th:hover {
color: #CECECE;
}

.fa-list:hover{
color: #CECECE;
}


.listing {
  display: inline-flex;
  margin-left: 20px;

}

.bottlePic {
  height: 110px;
  width: 110px;

}

.itemHeading {
color: #3DA1D1;
font-size: 20px;
width: 210px;
padding-top: 20px;
}

.itemPrice {
color: #CECECE;
font-size: 20px;
text-align: left;
width: 95px;
height: 24px;
padding-top: 20px;
margin-left: 50px;
}

.cart {
  background-color:#3DA1D1;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.itemDescription {
  padding-top: 30px;
  margin-left: 170px;
  color: #3DA1D1;
  width: 350px;
  font-size: 16px;
  margin-left: 30px;
}

.addToCart {
  margin-left: 40px;
  padding-top: 20px;
  position: relative;
  text-align: right;
  width: 140px;

}

.container {
  display: block;
}
